body {
    background-image: url("/static/images/background-homepage.png");
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    color: #3b2f2f;
}

header {
    text-align: center;
    color: white;
}

main {
    display: flex;
    place-content: center;
    margin-top: 35px;

    & div {
        width: 35%;
        height: 600px;
        background-color: white;
        border: 1px solid rgb(189, 0, 0);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(45, 0, 0, 0.389);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(10px);

        & a {
            background: radial-gradient(ellipse closest-side at center, rgba(255, 166, 0, 0.500), rgba(255, 0, 0, 0.500));
            padding: 20px 60px;
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-weight: bold;
            color: white;
            border-radius: 10px;
            border: 1px solid red;
            transition: transform 0.3s ease;
        }

        & a:hover {
            transform: scale(1.1);
            background: radial-gradient(ellipse closest-side at center, orange, red);
        }
    }
}